<html layout:decorate="~{layout}">
<th:block layout:fragment="sidebar">
    <nav th:replace="~{board/board_sidebar :: sidebarFragment}"></nav>
</th:block>
<th:block layout:fragment="content">
    <main class="col-md-10 p-4">
        <h1>글쓰기</h1>

        <form th:action="@{/board/add_board}" method="post">


            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required/>
            <br>
            <label for="content">내용:</label>
            <textarea id="content" name="content" required></textarea>
            <br>
            <input type="hidden" name="type" th:value="${type}"/>  <!-- 전달된 type 값을 hidden으로 보냄 -->
            <input type="hidden" name="page" th:value="${page}">
            <input type="hidden" name="size" th:value="${size}">
            <button type="submit">작성 완료</button>
        </form>
    </main>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>
