<html layout:decorate="~{layout}">
<th:block layout:fragment="sidebar">
    <nav th:replace="~{board/board_sidebar :: sidebarFragment}"></nav>
</th:block>
<th:block layout:fragment="content" th:with="hasSidebar=true">
    <!-- 게시글 -->
    <main class="col-md-10 p-4">
        <div class="card">
            <div class="mb-5">
                <h4 class="card-title mb-2" th:utext="${@commonUtil.markdown(board.title)}"></h4>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span>
                        <small class="text-muted" th:text="${board.users.nickname}"></small>
                        <small class="text-muted ms-2" th:text="|${#temporals.format(board.regdate, 'yyyy-MM-dd HH:mm')}|"></small>
                    </span>
                    <small class="text-muted" th:text="|조회수 ${board.views}|"></small>
                </div>
                <!-- 본문 -->
                <div class ="board-content mb-3 px-4">
                    <div class ="b-content" th:utext="${@commonUtil.markdown(board.content)}"></div>
                </div>

                <input type="hidden" id="csrfToken" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" />

                <!-- 좋아요 & 수정/삭제 버튼 -->
                <div class="d-flex">
                    <button class="btn btn-outline-primary btn-sm me-auto">
                        <!-- 좋아요 버튼 (AJAX로 좋아요 추가/제거) -->
                        <img id="likeButton" class="align-middle"
                             th:src="${isLiked} ? @{/img/like.png} : @{/img/unlike.png}"
                             th:onclick="|toggleLike(${board.bno})|" />
                        <span class="align-middle">좋아요</span>
                    </button>
                    <div>
                        <form th:action="|/board/modify/${board.bno}|" th:method="get"
                              sec:authorize="hasRole('ROLE_ADMIN') or (#authentication.principal.username == board.users.username)"
                              class="d-inline">
                            <button class="btn btn-primary me-2">수정</button>
                        </form>
                        <form th:action="|/board/${board.bno}|" th:method="delete"
                              sec:authorize="hasRole('ROLE_ADMIN') or (#authentication.principal.username == board.users.username)"
                              class="d-inline">
                            <button class="btn btn-outline-primary">삭제</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="replyFragment"></div>
        </div>
    </main>
    <div id="error-message" th:if="${error}" th:text="${error}" style="display: none;"></div>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/reply.js}"></script>
    <script>
        // 초기 이미지 상태를 설정
        const likeButton = document.getElementById('likeButton');
        const csrfToken = document.getElementById('csrfToken').value;

        function toggleLike(boardId) {
            // 서버에 좋아요 상태 변경 요청을 보냄
            fetch("/board/like?boardId=" + boardId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-TOKEN": csrfToken
                },
                body: JSON.stringify({ "boardId": boardId }) // boardId를 JSON 형식으로 보냄
            })
                .then(response => response.text())
                .then(data => {
                    // 서버 응답에 따라 이미지 변경
                    if (data === "liked") {
                        likeButton.src = '/img/like.png'; // 좋아요 상태로 변경
                    } else if (data === "unliked") {
                        likeButton.src = '/img/unlike.png'; // 좋아요 해제 상태로 변경
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }

        // 댓글 목록 초기화
        $(document).ready(function(){
            getReplyList();

            // 삭제 에러 메세지 출력
            const errorMessage = $("#error-message").text()
            if (errorMessage) {
                alert(errorMessage);
            }
        })
    </script>
</th:block>
</html>