<!-- 성현 -->
<html layout:decorate="~{layout}">
<th:block layout:fragment="sidebar">
    <nav th:replace="~{board/board_sidebar :: sidebarFragment}"></nav>
</th:block>

<th:block layout:fragment="content">
    <main class="col-md-10 p-4">
        <div class="board-container">
            <!-- boardPage가 비어있는지 체크 -->
            <div th:if="${#lists.isEmpty(boardPage.content)}" class="board-no-item">
                <p>등록된 글이 없습니다.</p>
            </div>
            <div th:each="board : ${boardPage}" class="board-item">
                <div class="board-title">
                    <p class="user-name" th:text="${board.users.nickname}"></p>
                    <a th:href="@{/board/detail/{id}(id=${board.bno})}" th:text="${board.title}"/>
                </div>
                <div class="board-details">
                    <p th:text="${board.formattedRegdate}" class="date"></p>
                    <span class="board-font">
                            <img class="view-img" th:src="@{/img/view_count.png}" />
                            <span th:text="${board.views}"></span>
                        </span>
                    <span class="board-font">
                            <img class="like-img" th:src="@{/img/like_count.png}" />
                            <span th:text="${board.likeCount}"></span>
                        </span>
                    <span class="board-font">
                            <img class="reply-img" th:src="@{/img/reply_count.png}" />
                            <span th:text="${board.replyCount}"></span>
                        </span>
                </div>
            </div>
        </div>


    <div class="paging">
        <div>
            <form th:action="@{/board/add_board}" method="get" sec:authorize="hasRole('ROLE_ADMIN')">
                <input type="hidden" name="type" th:value="${type}"/>
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="size" th:value="${size}">
                <button type="submit" class="btn btn-primary me-2">글쓰기</button>
            </form>
        </div>

        <div class="pagination">
            <span th:if="${boardPage.number > 0}">
                <a th:href="@{/board/infolist(page=0, size=${boardPage.size})}">
                    <img th:src="@{/img/start.png}"/>
                </a>
            </span>

            <span th:if="${boardPage.number >= 5}">
                <a th:href="@{/board/infolist(page=${boardPage.number - 5}, size=${boardPage.size})}">
                    <img th:src="@{/img/previous.png}"/>
                </a>
            </span>

            <span th:each="i : ${#numbers.sequence(0, boardPage.totalPages - 1)}" th:if="${i >= (boardPage.number / 5) * 5 && i < (boardPage.number / 5) * 5 + 5}">
                    <a th:href="@{/board/infolist(page=${i}, size=${boardPage.size})}" th:text="${i + 1}" class="paging-btn"></a>
                </span>

            <span th:if="${boardPage.number + 5 < boardPage.totalPages}">
                    <a th:href="@{/board/infolist(page=${boardPage.number + 5}, size=${boardPage.size})}">
                        <img th:src="@{/img/next.png}"/>
                    </a>
                </span>

            <span th:if="${boardPage.number + 5 < boardPage.totalPages}">
                    <a th:href="@{/board/infolist(page=${boardPage.totalPages - 1}, size=${boardPage.size})}">
                        <img th:src="@{/img/end.png}"/>
                    </a>
                </span>
        </div>
    </div>
    </main>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>