<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
<h1>Boards List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Reg Date</th>
        <th>Views</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
        <td th:text="${board.bno}">1</td>
        <td><a th:href="@{/board/detail/{id}(id=${board.bno})}" th:text="${board.title}"></a></td>
        <td th:text="${board.content}">Sample Content</td>
        <td th:text="${board.regdate}">2024-12-12</td>
        <td th:text="${board.views}">0</td>
    </tr>
    </tbody>
</table>
<form th:action="@{/board/add_board}" method="get">
    <!-- hidden input to send type=0 (information board) -->
    <input type="hidden" name="type" value="2"/>
    <button type="submit">글쓰기</button>
</form>
</body>
</html>
