<div th:fragment="replyFragment">
    <div>댓글</div><span id="replyCount"></span>
    <div id="replyRegContainer">
        <div class="mt-4">
            <div class="mb-3">
                <textarea id="replyContent" class="form-control" rows="3" placeholder="댓글 작성하기" name="content"></textarea>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary reply-reg" onclick="createReply()">답변 등록</button>
            </div>
        </div>
    </div>
    <div id="replyListContainer"></div>
    <div id="paginationContainer"></div>

</div>