<html layout:decorate="~{layout}">
<th:block layout:fragment="sidebar">
  <nav th:replace="~{users/users_sidebar :: sidebarFragment}"></nav>
</th:block>
<th:block layout:fragment="content">
  <main class="col-md-10 p-4">
    <div class="board-container">
      <div th:each="board : ${likedBoards}" class="likeborad-item">
        <div class="like-btn">
          <input type="hidden" id="csrfToken" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" />
          <img class="like-button"
               th:src="@{/img/like.png}"
               th:data-board-id="${board.bno}"
               th:onclick="|toggleLike(${board.bno}, this)|" />
        </div>
        <div class="board-item">
        <div class="likeboard-title">
          <p class="board-type" th:text="${board.type.toString() == '0' ? '정보게시판' : (board.type.toString() == '1' ? '일반게시판' : (board.type.toString() == '2' ? 'Q&A' : '기타'))}"></p>
          <a th:href="@{/board/detail/{id}(id=${board.bno})}" th:text="${board.title}"/>
        </div>
            <div class="board-details">
              <p th:text="|${#temporals.format(board.regdate, 'yyyy-MM-dd HH:mm')}|" class="date"></p>
              <span class="board-font">
                <img class="view-img" th:src="@{/img/view_count.png}" />
                <span th:text="${board.views}"></span>
              </span>
              <span class="board-font">
                <img class="like-img" th:src="@{/img/like_count.png}" />
                <span th:text="${board.likesList.size()}"></span> <!-- Changed from board.views to board.likes -->
              </span>
              <span class="board-font">
                <img class="reply-img" th:src="@{/img/reply_count.png}" />
                <span th:text="${board.replyList.size()}"></span> <!-- Changed from board.views to board.replies -->
              </span>
            </div>
        </div>
      </div>
    </div>
    <div th:if="${likedBoards == null || likedBoards.size() == 0}">
        <p class="form-pw-label mb-3">좋아요한 글이 없습니다.</p>
        <a href="/board/infolist">커뮤니티 이동</a>
    </div>
</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/js/toggleLike.js}"></script>
</th:block>
</html>
