<html layout:decorate="~{layout}">
<th:block layout:fragment="content">
    <main class="col-12 px-4">
        <div class="register-container">
            <h2 class="register-title my-5">추가 정보 설정</h2>
            <form id="socialSignupForm">
                <!-- 비밀번호 입력 -->
                <div class="form-group mt-5 mx-5">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password" name="password"
                           class="form-control custom-input"
                           placeholder="비밀번호 입력" required>
                </div>

                <!-- 비밀번호 확인 -->
                <div class="form-group mx-5">
                    <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                           class="form-control custom-input"
                           placeholder="비밀번호 확인" required>
                    <span id="password-match-message" class="error-message"></span>
                </div>

                <!-- 닉네임 입력 -->
                <div class="form-group mx-5">
                    <label class="form-label">닉네임</label>
                    <div class="input-group">
                        <input type="text" id="nickname" name="nickname"
                               class="form-control custom-input"
                               placeholder="닉네임 입력" required>
                        <button type="button" id="check-nickname"
                                class="btn btn-outline-secondary custom-btn">
                            중복 확인
                        </button>
                    </div>
                    <span id="nickname-message" class="error-message"></span>
                </div>

                <!-- 완료 -->
                <div class="form-group mt-5 text-center">
                    <button type="submit" id="signupBtn" class="btn btn-primary signup-btn">
                        완료
                    </button>
                </div>
            </form>
        </div>
    </main>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/socialSignup.js}"></script>
</th:block>
</html>
