body {
    background-color: #f8f9fa;
    min-width: 768px;
}

.logo {
    width: 24px;
    height: auto;
}

a.active {
    color: #343C6A;
    font-weight: bold;
}

.sidebar {
    height: inherit;
}

.card-body {
    background-color: #ffffff;
    border: 1px solid #DFEAF2;
    border-radius: 0.5rem;
}

main {
    min-height: calc(100vh - 76px);
}

.navbar {
    height: 76px;
}

.navbar-brand {
    color: #343C6A;
}
.navbar-brand:hover {
    color: #343C6A;
}

.nav-link {
    color: #B1B1B1;
}

.nav-link:hover {
    color: #343C6A;
}

.nav-link.active{
    color: #343C6A !important;
}

.nav-icon {
    width: 16px;
    height: auto;
}

.content-container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.board-content {
    border: #DFEAF2 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 300px;
}

.card {
    border: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.btn-primary {
    color: white;
}

#replyContent {
    height: 140px;
    padding: 1rem;
}

textarea {
    resize: none;
}

#myPageContent {
    display: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.tabs {
    margin-top: 20px;
}

.tabs button {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
}

.tabs button.active {
    background-color: #007bff;
    color: white;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 12px;
    margin-top: 5px;
}

/* signup 추가 */
.register-container {
     max-width: 630px;
     height: 630px;
     margin: 50px auto;
     background: #fff;
     border-radius: 15px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     padding: 30px;
}

.register-title {
     text-align: center;
     font-size: 24px;
     font-weight: bold;
     color: black;
     margin-bottom: 20px;
}

.form-group {
     margin-bottom: 15px;
}

.form-label {
     font-weight: bold;
     margin-bottom: 5px;
     display: block;
}

.form-control {
     height: 45px;
     border-radius: 10px !important;
}

.input-group {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px; /* 입력란과 버튼 사이 여백 */
}

.custom-input {
     flex: 1;
     height: 45px;
}

.custom-btn {
     height: 45px;
     width: 140px;
     font-size: 15px;
     line-height: 1.5;
     border-radius: 10px !important;
}

.signup-btn {
     width: 200px;
     height: 50px;
     border-radius: 10px;
}

.text-center {
    text-align: center;
}

.login-error {
    color: red;
    font-size: 14px;
    font-weight: border;
    margin-top: 5px;
}

.login-success{
    color: green;
    font-size: 14px;
    font-weight: border;
    margin-top: 5px;
}
