body {
    background-color: #f8f9fa;
    min-width: 768px;
}

.logo {
    width: 24px;
    height: auto;
}

a.active {
    color: #343C6A;
    font-weight: bold;
}

.sidebar {
    height: inherit;
}

.card-body {
    background-color: #ffffff;
    border: 1px solid #DFEAF2;
    border-radius: 0.5rem;
}

main {
    min-height: calc(100vh - 76px);
}

.navbar {
    height: 76px;
}

.navbar-brand {
    color: #343C6A;
}
.navbar-brand:hover {
    color: #343C6A;
}

.nav-link {
    color: #B1B1B1;
}

.nav-link:hover {
    color: #343C6A;
}

.nav-link.active{
    color: #343C6A !important;
}

.nav-icon {
    width: 16px;
    height: auto;
}

.content-container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.board-content {
    border: #DFEAF2 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 300px;
}

.card {
    border: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.btn-primary {
    color: white;
}

#replyContent {
    height: 140px;
    padding: 1rem;
}

textarea {
    resize: none;
}

#myPageContent {
    display: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.tabs {
    margin-top: 20px;
}

.tabs button {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
}

.tabs button.active {
    background-color: #007bff;
    color: white;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 12px;
    margin-top: 5px;
}
.board-container{
    background-color: white;
    border-radius: 25px;
}

.board-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    width: 98%;
    margin-left: 1%;
    padding: 13px;
}

.board-title > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px
}

.user-name{
    font-size: 13px;
    margin-left: 20px
}

img.view-img {
    width: 20px;
}
img.like-img{
    width: 18px;
}
img.reply-img{
    width: 18px;
}
.board-font{
    display: inline-block;
    font-size: 13px;
    margin-right: 1px;
    width: 50px;
}
.date {

}
.paging{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}

.table-container{
    background-color: white;
    border-radius: 25px;
    width: 100%;
}

.paging-btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
}


.paging-btn:hover{
    display: inline-block;
    border-radius: 3px;
    background-color: #718EBF;
    color:white;
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.add_form{
    background-color: white;
    border-radius: 25px;
    padding: 3% 3% 5% 3%;
}

.add_title{
    width: 100%;
    height: 40px;
    border: 1px solid #DFEAF2;
    border-radius: 10px;
    margin-bottom: 15px;
}

.add_content{
    width: 100%;
    height: 500px;
    border: 1px solid #DFEAF2;
    border-radius: 10px;
    margin-bottom: 15px;
}

#add_board_btn{
    float: right;
}

.add_form > p{
    font-size: 18px;
    font-weight: bold;
}


/* 마이페이지 폼 */
.mypage-container {
    max-width: 1200px;
    max-height: 800px;
    background: #fff;
    border-radius: 15px;
    padding: 30px;
}

#passwordVerifySection {
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    align-items: center; /* 가로 중앙 정렬 */
}


/* signup 추가 */
.register-container {
     max-width: 630px;
     height: 700px;
     margin: 50px auto;
     background: #fff;
     border-radius: 15px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     padding: 30px;
}

/* mylikes_form */
.likeborad-item {
    position: relative;
}

.likeboard-title > a {
     color: black;
     font-weight: bold;
     text-decoration: none;
     font-size: 17px;
     margin-left: 60px
 }

.board-type{
     font-size: 13px;
     margin-left: 60px
 }

.like-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 20px;
    margin-right: 15px;
}

.register-title {
     text-align: center;
     font-size: 24px;
     font-weight: bold;
     color: black;
     margin-bottom: 20px;
}

.form-group {
     margin-bottom: 15px;
}

/* mypage-form */
.my-form-group {
     margin-bottom: 15px;
     text-align: left;
}

.form-label {
     font-weight: bold;
     margin-bottom: 5px;
     border-radius: 10px;
     display: block;
}

.form-control {
     height: 45px;
     border-radius: 10px !important;
}

.input-group {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px; /* 입력란과 버튼 사이 여백 */
}

.custom-input {
     flex: 1;
     height: 45px;
}

.custom-btn {
     height: 45px;
     width: 140px;
     font-size: 15px;
     line-height: 1.5;
     border-radius: 10px !important;
}

.signup-btn {
     width: 200px;
     height: 50px;
     border-radius: 10px;
}

.text-center {
    text-align: center;
}

.login-error {
    color: red;
    font-size: 14px;
    font-weight: border;
    margin-top: 5px;
}

.login-success{
    color: green;
    font-size: 14px;
    font-weight: border;
    margin-top: 5px;
}

.form-pw-label {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 5px;
     border-radius: 10px;
     display: block;
}

.custom-pw-input{
    width: 350px;
}

.board-no-item{
    background-color: white;
    border-radius: 25px;
    padding: 3%;
}

.board-no-item > p{
    text-align: center;
}

.umdnm {
    color: #343C6A;
    font-weight: bold;
}

.scrap-header {
    border: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0px;
    font-weight: bold;
}

.scrap-body {
    border: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 0px;
    margin-top: 0.8rem;
}

.filter-select {
    border-radius: 1.5rem;
    color: #718EBF;
    width: auto !important;
    margin-right: 0.5rem;
    padding: 0.375rem 1rem;
    background-color: var(--bs-body-bg);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.filter-area {
    width: 350px;
    padding: 1.2rem;
}

.b-content,
.reply-content{
    white-space: pre-wrap;
}

.card-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.gs-btn{
    width: 200px;
    margin-top: 70px;
}

/* 스크롤 커스텀 */
#umdModal::-webkit-scrollbar {
  width: 10px; /* 가로 스크롤 바 너비 */
  height: 10px; /* 세로 스크롤 바 너비 */
}

#umdModal::-webkit-scrollbar-thumb {
  background: #f0f0f0; /* 스크롤 색상 */
  border-radius: 10px; /* 스크롤 바 모서리 둥글게 */
}

.dropdown-menu {
    overflow-y: auto;
}

.dropdown-deal-date {
    border: none;
    width: 100px;
    color: #718EBF;
}

.dropdown-building-year {
    border: none;
    width: 80px;
    color: #718EBF;
}

.filter-select {
    border-radius: 1.5rem;
    color: #718EBF;
    width: auto !important;
    margin-right: 0.5rem;
    padding: 0.375rem 1rem;
    background-color: var(--bs-body-bg);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.filter-area {
    width: 350px;
    padding: 1.2rem;
}

.slider-container {
  position: relative;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  position: absolute;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 2;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #ddd;
  z-index: 1;
  border-radius: 4px;
}

.slider-track::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #007bff;
  border-radius: 4px;
  z-index: 1;
  top: 0;
}

.slider-values {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#start-range {
  z-index: 3;
}
