body {
    background-color: #f8f9fa;
    min-width: 768px;
}

.logo {
    width: 24px;
    height: auto;
}

a.active {
    color: #343C6A;
    font-weight: bold;
}

.sidebar {
    height: inherit;
}

.card-body {
    background-color: #ffffff;
    border: 1px solid #DFEAF2;
    border-radius: 0.5rem;
}

main {
    min-height: calc(100vh - 76px);
}

.navbar {
    height: 76px;
}

.navbar-brand {
    color: #343C6A;
}
.navbar-brand:hover {
    color: #343C6A;
}

.nav-link {
    color: #B1B1B1;
}

.nav-link:hover {
    color: #343C6A;
}

.nav-link.active{
    color: #343C6A !important;
}

.nav-icon {
    width: 16px;
    height: auto;
}

.content-container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.board-content {
    border: #DFEAF2 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 300px;
}

.card {
    border: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.btn-primary {
    color: white;
}

#replyContent {
    height: 140px;
    padding: 1rem;
}

textarea {
    resize: none;
}

#myPageContent {
    display: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.tabs {
    margin-top: 20px;
}

.tabs button {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
}

.tabs button.active {
    background-color: #007bff;
    color: white;
}

.error-message {
    color: red;
    font-size: 12px;
}
.success-message {
    color: green;
    font-size: 12px;
}